body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    font-family: Arial, sans-serif;


  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .logo img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #9C632C;

    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 780px) {
    .login-container {
      padding: 15px;
    }
  
    .btn {
      font-size: 14px;
    }
    .login-container {
        width: 85%;
    }
  }
  